### Rider ###
# Игнорировать ВСЮ папку .idea (лучше чем перечислять отдельно)
.idea/
*.iml

### Общие системные файлы ###
.DS_Store
Thumbs.db

### Сборка ###
[Bb]in/
[Oo]bj/
/build/
/captures/
*.binlog
*.log
*.nupkg

### Android ###
.gradle/
local.properties
.externalNativeBuild
.cxx/
android-app/  # Если используется подпапка для Android

### Пользовательские файлы IDE ###
*.user
*.userprefs
*.suo

### Собственные управления ###
/PushGH.bat
/initGH.bat